# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
test_todoist.js
task.js

# Exclude sourcemaps
*.map

# obsidian
data.json
data_test_todoist.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
